<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/auht/login"></a></li>
            <li><a href="/home"></a></li>
            <li><a href="/profile"></a></li>
        </ul>
    </nav>
    <header>This is a header</header>
    <main>
        <aside></aside>
        <p>Welcome <%= user.username%></p>
    </main>
</body>
</html>